@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* Start Gloabel Rules */
:root {
  --border-link: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: rgba(255, 255, 255, 0.7);
}
.main-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  width: fit-content;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  letter-spacing: 3px;
}
/* End Gloabel Rules */

/* Start Navigation Bar */
.container {
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/first_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
  overflow: hidden;
}
.container .nav-bar {
  height: 500px;
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 100000000;
}
.container .nav-bar .mini-logo {
  width: fit-content;
  display: none;
}
.container .nav-bar h1 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Roboto";
  background: #2a2d30;
  border-radius: 20px;
}
.container .nav-bar h1 span {
  font-weight: 200;
}
.container .toggle {
  display: none;
}
.container .links {
  padding: 40px 0;
}
.container .links .link {
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 15px;
  transition: transform;
  position: relative;
  transition: all 0.5s ease;
}
.container .links .link:hover {
  color: #fff;
}
.container .links .link.active {
  color: #fff;
}
.container .links .link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--border-link);
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.75s ease;
}
.container .links .link.active::after {
  transform: scale(1);
}
.container .links .link:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.container .links .link ion-icon {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .container .nav-bar {
    padding: 55px 25px;
  }
  .container .links .link {
    margin: 0 auto 35px auto;
  }
  .container .links .link span {
    display: none;
  }
  .container .links .link ion-icon {
    margin: 0;
  }
  .container .nav-bar .mini-logo {
    display: block;
  }
  .container .nav-bar .logo {
    display: none;
  }
}
@media (max-width: 769px) {
  .container .nav-bar {
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  .container .nav-bar .mini-logo {
    display: none;
  }
  .container .nav-bar .logo {
    display: block;
  }
  .container .links {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
  .container .links .link {
    display: flex;
    gap: 10px;
    margin: 0;
  }
  .container .links .link span {
    display: block;
  }
}
@media (max-width: 610px) {
  .container .links {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 90px 20px;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease;
    align-items: stretch;
  }
  .container .links.active {
    transform: translatex(0);
  }
  .container .toggle {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    gap: 10px;
    color: #ffff;
    font-size: 3em;
    cursor: pointer;
    position: relative;
    z-index: 100000;
  }
  .container .toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease;
    top: 50%;
  }
  .container .toggle.close span:nth-child(1) {
    position: absolute;
    rotate: 45deg;
    transition-delay: 0.4s;
  }
  .container .toggle.close span:nth-child(2) {
    scale: 0;
    transform-origin: right;
  }
  .container .toggle.close span:nth-child(3) {
    rotate: -45deg;
    position: absolute;
  }
}
/* End Navigation Bar */

/* Start Slider */
.slider {
  position: absolute;
  width: 70%;
  height: 500px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
}

.slider .slider-container {
  display: flex;
  transition: transform 0.6s ease;
}
.slider .slide {
  height: 500px;
  min-width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  padding: 30px;
}
.slider .slide::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.slider .slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.5);
}
@media (max-width: 991px) {
  .slider {
    width: 80%;
  }
  .slider .home .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .slider .home .img {
    height: 170px;
    width: 170px;
    border-radius: 100%;
  }
  .slider .home h2 {
    margin: 20px auto;
  }
}
@media (max-width: 769px) {
  .slider {
    width: 100%;
    top: auto;
    transform: translateY(0);
    bottom: 0;
  }
}
/* End Slider */

/* Start Home */
.slider .home {
  padding: 0;
}

.slider .home .content {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 75%;
  height: 500px;
  padding: 30px 0;
}
.slider .home .img {
  width: 240px;
  min-height: 240px;
  background: url(../img/author_image.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 32px;
}

.slider .home .text {
  flex-grow: 1;
  color: #fff;
}

.slider .home .text p {
  text-transform: uppercase;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
}

.slider .home .btns {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.slider .home .text a {
  background: none;
  outline: none;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  width: 130px;
  height: 55px;
}
.slider .home .text a span {
  position: absolute;
  width: 130px;
  padding: 15px;
  left: 0;
  top: 0;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
.slider .home .text a:nth-child(1) span:nth-child(2) {
  background: #fff;
  color: #000;
  clip-path: polygon(100% 0, 100% 0%, 100% 99%, 0% 100%);
}
.slider .home .text a:nth-child(1):hover span:nth-child(2) {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 0);
}
.slider .home .text a:nth-child(2) span:nth-child(1) {
  background: #fff;
  color: #000;
  z-index: 1;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 0);
}
.slider .home .text a:nth-child(2):hover span:nth-child(1) {
  clip-path: polygon(100% 0, 100% 0%, 100% 99%, 0% 100%);
}

@media (max-width: 991px) {
  .slider .home .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .slider .home .img {
    height: 170px;
    min-width: 170px;
    border-radius: 100%;
  }
  .slider .home h2 {
    margin: 20px auto;
  }
  .slider .home .btns {
    justify-content: center;
  }
}
@media (max-width: 408px) {
  .slider .home .btns {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .slider .home .btns a {
    margin: 10px 0;
  }
}
/* End Slider */

/* Start About */
.slider .about {
  padding: 0;
}
.slider .about .content {
  display: flex;
  width: 100%;
  height: 100%;
}
.slider .about .text {
  padding: 20px;
  flex-grow: 1;
  color: #fff;
}
.slider .about .text p {
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 1.5;
}
.slider .about .skills {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.slider .about .skills::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 1px;
  height: 100%;
  background-color: rgb(255 255 255 / 81%);
}
.slider .about .skills > div:not(:first-child) {
  width: 48%;
}
.slider .about .skills span {
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}
.slider .about .skills .title {
  width: 100%;
}
.slider .about .skills .progress {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  margin-bottom: 40px;
  position: relative;
}
.slider .about .skills .progress::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: var(--prog);
  background-color: #5e72ff;
}

.slider .about .skills .progress::after {
  content: attr(data-progress);
  position: absolute;
  color: #fff;
  top: -110%;
  right: 0;
}
.slider .about .img {
  flex-basis: 40%;
  height: 100%;
  background: url(../img/SEOanalyticsteam-bro.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 991px) {
  .slider .about .content {
    flex-direction: column;
  }
  .slider .about .img {
    height: 230px;
    background-size: contain;
    width: 100%;
    flex-basis: auto;
  }
}
/* End About */

/* Start Work */
.slider .viewer {
  padding: 20px;
}
.slider .viewer .works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.slider .viewer .work {
  width: 32%;
  height: 170px;
  margin-bottom: 2%;
  background: var(--img) no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  cursor: pointer;
}
.slider .viewer .work.work5 {
  background-position: right;
}
.slider .viewer .view {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 25px;
  transition: all 0.7s ease;
  opacity: 0;
}
.slider .viewer .work:hover .view {
  opacity: 1;
}

@media (max-width: 991px) {
  .slider .viewer .work {
    width: 48%;
    margin-bottom: 3%;
    height: 270px;
  }
}
@media (max-width: 610px) {
  .slider .viewer .work {
    width: 100%;
    margin-bottom: 4%;
    height: 310px;
  }
}
/* End Work */

.slide .test {
  color: #fff;
  font-size: 2em;
}
.slide .svg {
  background: url(../img/asset841.svg) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 2em;
}
svg {
  color: #fff;
}
